<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="p2.css">
    <title>Document</title>
</head>
<body>
    <table>
  <h2>Form Summary</h2>
  <a href="/">Go Back</a>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
    </tr>
  </thead>
  {{# each data }}
  <tbody>
      {{# each this}}
    {{!-- <tr> --}}
        
      <td data-label="Account">{{ this.name }}</td>
      <td data-label="Due Date">{{ this.dob }}</td>
      <td data-label="Amount">{{ this.email }}</td>
      <td data-label="Period">{{ this.phone }}</td>
    
    {{!-- </tr> --}}
    {{/each}}
  </tbody>
  {{/each}}
</table>
</body>
</html>